#notification-dropdown .dropdown-menu.notify-drop {
  min-width: 360px;
  min-height: 400px;
  max-height: 400px;
}

#notification-dropdown .dropdown-menu.notify-drop .drop-content {
  min-height: 350px;
  max-height: 350px;
  overflow-y: scroll;
}

#notification-dropdown .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

#notification-dropdown .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

#notification-dropdown .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}

#notification-dropdown .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}

#notification-dropdown .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}

#notification-dropdown .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}

#notification-dropdown .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}

#notification-dropdown .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}